.space {
  padding-top: 14vh;
}
/* ////////////////////////////////////// */
/* element based */
/* ////////////////////////////////////// */
.h2 {
  font-size: 3rem;
  text-align: center;
  margin: 1.5rem 0rem;
}
.form {
  border: 1px solid var(--color-primary);
  width: 40rem;
  margin: 0 auto;
  border-radius: 3px;
  background-color: var(--color-background);
}
.text {
  font-size: 1.6rem;
  width: 80%;
  margin: 0 auto;
}
.input {
  display: block;
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid var(--color-primary);
  font-size: 1.6rem;
}
.input:focus {
  border: 2px solid var(--color-primary);
  outline: none;
}
.button {
  display: block;
  width: 80%;
  margin: 2rem auto;
  border-radius: 3px;
  border: 1px solid var(--color-primary);
  color: var(--color-background);
  background-color: var(--color-primary);
  padding: 1rem;
  font-size: 1.6rem;
}
.button:hover {
  color: var(--color-primary);
  background-color: var(--color-background);
  cursor: pointer;
}
.button__disabled {
  background-color: #74bfb3;
  border: 1px solid #74bfb3;
  display: block;
  width: 80%;
  margin: 2rem auto;
  border-radius: 3px;
  color: var(--color-background);
  padding: 1rem;
  font-size: 1.6rem;
}
.button__disabled:hover {
  cursor: progress;
}
/* ////////////////////////////////////// */
/* targeted */
/* ////////////////////////////////////// */
.error {
  font-size: 1.4rem;
  width: 80%;
  margin: 0 auto;
  margin-top: .3rem;
  color: red;
}
.link {
  color: var(--color-secondary);
}
.link:hover {
  color: var(--color-secondary-hover);
}
.forgot {
  font-size: 1.4rem;
  color: var(--color-primary);
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  display: block;
  /* text-decoration: none; */
}
.forgot:hover {
  color: var(--color-hover);
}
.enter {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.logo {
  height: 10rem;
  margin: 0 auto;
  display: block;
}
.passwordInput {
  margin-top: 3rem;
}
.signup {
  margin-bottom: 4rem;
}
/* ////////////////////////////////////// */
/* signup styles */
/* ////////////////////////////////////// */
.nameInput {
  margin-bottom: 3rem;
}
/* ////////////////////////////////////// */
/* forgot password styles */
/* ////////////////////////////////////// */
.passwordSuccess {
  width: 80%;
  margin: 0 auto;
  margin-top: .3rem;
  font-size: 1.4rem;
}
.backBtnPositioner {
  width: 40rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.backBtn {
  color: var(--color-secondary);
  font-size: 1.6rem;
  transition: color .2s;
}
.backBtn:hover {
  color: var(--color-secondary-hover);
}