.smallHero {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 50vh;
  width: 100vw;
}

.h1 {
  font-size: 5rem;
  color: var(--color-primary);
  transform: translateY(3rem);
  text-align: center;
}

.smallHeroBackground {
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  background-image: url('/images/back1.jpg');
  background-size: cover;
  background-position: 90% 50%;
  background-blend-mode: luminosity;
  opacity: .3;
  z-index: -1;
}

@media only screen and (max-width: 900px) {
  .h1 {
    transform: translateY(0rem);
    padding: 0rem 3rem;
  }
}