.container {
  margin-bottom: 12rem;
}

.h2 {
  font-size: 3.5rem;
  color: var(--color-primary);
  text-align: center;
}

.cta {
  background-color: var(--color-primary);
  color: var(--color-background);
  width: max-content;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  border: 1px solid var(--color-primary);
  margin: 0 auto;
  margin-top: 4rem;
  display: block;
  border-radius: 3px;
}
.cta:hover {
  cursor: pointer;
  color: var(--color-primary);
  background-color: transparent;
}
