.container {
  margin: 0 auto;
  margin-bottom: 6rem;
  margin-top: -6rem;
  max-width: 1100px;
  display: flex;
  align-items: center;
  height: 50vh;
}
.flexContainer {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: var(--font-serif);
  color: var(--color-primary);
}
.img {
  width: 30rem;
}

@media only screen and (max-width: 900px) {
  .container {
    height: max-content;
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    display: none;
  }
}